html,body {
    height: 100vh;
    width:100vh;
    background-color: rgb(177, 177, 177);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

   
    
}

@font-face {
    font-family: myFont;
    src: url(nor.woff);
}

input:invalid {
    border-color: rgb(194, 42, 42);
}

.main {
    display:flex;
    bottom: 0;
    height: 100vh;
    width: 100vh;
    left: 0;
}

.formation {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 20px;
}

.format {
    display:flex;
    margin-bottom: 20px;
    margin-left: 400px;
}

.form-submit {
    display:flex;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-top: 50px;
    background-color: #607a47;
    font-weight: bold;
}

.box :focus {
    border-color:blue;
    
}

.box {
    border-radius: 5px;
    background-color: rgb(173, 157, 157);
    border-style: solid;
}

img {
    height:100%;
    width:400px;
    margin-right: 20px;
    padding:0;
}

#source p{
    display:flex;
    justify-content: center;
    color: white;
    left: 0;
}


h1 {
    font-size: large;
    margin-top: 100px;
    margin-left:400px;
    margin-bottom: 20px;
    width: 400px;
}

h2 {
    font-size: large;
    margin-top: 50px;
    margin-left:400px;
    margin-bottom: 20px;
}

h3 {
    font-size: large;
    margin-top: 50px;
    margin-left: 400px;
    margin-bottom: 20px;
}

#login {
    font-size: large;
    margin-top: 50px;
    margin-left:400px;
    margin-bottom: 20px;
    background-color: rgb(177,177,177);
    border: none;
}

/* .sidebar-container {
    bottom: 0;
    width: 400px;
    left: 0;
} */

#sidebar-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-top: -10px;
    position:absolute;
    height:100vh;
    width: 400px;
    padding: 0;
    bottom: 0;
    flex-grow: 1;
}

#sidebar-wrapper p {
    bottom: 0;
    position: absolute;
    right: 0;
}

#logoStore {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 390px;
    opacity: .3;
    background-color: gray;
    position: absolute;
    left: 0;
}
#logoStore div {
font-family: myFont;
margin-left: 20px;
}

#logos {
    width:400px;
    height: 100px;
}
#logoStore p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color:rgb(255, 255, 255);
    margin-right: 30px;
    height: 60px;
}

#submission {
    display: flex;
    justify-content: center;
}

#logo {
    width: 100px;
    height: 100px;
    color: white;
    margin-left: 70px;
}